In [1]:
import numpy as np
import pandas as pd
import os

from helper import get_dfs

In [2]:
# run all other imputation notebooks
%run init.ipynb
seed=42

random.seed(seed)
np.random.seed(seed)
%run MV_imputation_ldl.ipynb

random.seed(seed)
np.random.seed(seed)
%run MV_imputation_hdl.ipynb

random.seed(seed)
np.random.seed(seed)
%run MV_imputation_hba1c.ipynb

random.seed(seed)
np.random.seed(seed)
%run MV_imputation_bmi.ipynb

original shape:  (13882, 238)
Shape of data after removing other drug types: (5480, 238)

 NaN counts in resonse variables:
             Feature  NaN Count
hba1c_12m  hba1c_12m        697
ldl_12m      ldl_12m       2276
hdl_12m      hdl_12m       3982
bmi_12m      bmi_12m       2003

Shape of data after excluding missing response: (5480, 238)
Shape of data after removing cols with less than 40.00 percent values missing: (5480, 184)
Shape of data after removing correlated features: (5480, 121)
Shape of full data with change + days (5480, 125)
Shape of full data after selecting date range dates > 21 days (5480, 125)
baseline hba1c min  23.0  and max  164.0

 Number of samples after the filteration of baseline hba1c and eGFR: 1933
df shape before the filteration  (5480, 125)
df shape after the filteration  (3547, 125)

/var/folders/r6/l8_rty2n33d80z3fh81nvndm0000gn/T/ipykernel_56316/3278289126.py:46: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if missing_per[i] <= 42: #setting the threshold as 40%

Shape of data : (2660, 125)
Shape of data after excluding missing response: (1566, 125)
Shape of full data after selecting date range dates > 21 days (1084, 116)
==== sample count in preprocessed data =======
 number of dpp4 :  441
 number of sglt2 :  643
==== sample count in training data =======
 number of dpp4 :  336
 number of sglt2 :  477
==== sample count in testing data =======
 number of dpp4 :  105
 number of sglt2 :  166

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

['hba1c_bl_6m', 'ika', 'ldl', 'insulin', 'sum_diab_drugs', 'hyperten', 'chd', 'cvd_comp', 'obese', 'C02A', 'C10A']
Shape of training data before removing outliers: (813, 11)
Shape of test data before removing outliers: (271, 11)
Training set outliers: [4795, 5599]
Testing set outliers: []
Shape of training data after removing outliers: (811, 11)
Shape of test data after removing outliers: (271, 11)

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.8133700	total: 63.2ms	remaining: 3.09s
1:	learn: 0.7950515	total: 64ms	remaining: 1.53s
2:	learn: 0.7770583	total: 64.6ms	remaining: 1.01s
3:	learn: 0.7589603	total: 65.2ms	remaining: 750ms
4:	learn: 0.7470547	total: 65.5ms	remaining: 589ms
5:	learn: 0.7346679	total: 66ms	remaining: 484ms
6:	learn: 0.7232546	total: 66.6ms	remaining: 409ms
7:	learn: 0.7142888	total: 67.2ms	remaining: 353ms
8:	learn: 0.7063227	total: 67.8ms	remaining: 309ms
9:	learn: 0.6961583	total: 68.4ms	remaining: 274ms
10:	learn: 0.6896614	total: 69ms	remaining: 245ms
11:	learn: 0.6828735	total: 69.5ms	remaining: 220ms
12:	learn: 0.6771193	total: 70.1ms	remaining: 200ms
13:	learn: 0.6713167	total: 70.7ms	remaining: 182ms
14:	learn: 0.6664809	total: 71.2ms	remaining: 166ms
15:	learn: 0.6614395	total: 71.9ms	remaining: 153ms
16:	learn: 0.6565035	total: 72.5ms	remaining: 141ms
17:	learn: 0.6525123	total: 73ms	remaining: 130ms
18:	learn: 0.6484894	total: 73.5ms	remaining: 120ms
19:	learn: 0.6447688	total: 74.1ms	remaining: 111ms
20:	learn: 0.6405036	total: 74.7ms	remaining: 103ms
21:	learn: 0.6370760	total: 75.3ms	remaining: 95.9ms
22:	learn: 0.6341963	total: 75.9ms	remaining: 89.1ms
23:	learn: 0.6315327	total: 76.5ms	remaining: 82.9ms
24:	learn: 0.6275358	total: 77.1ms	remaining: 77.1ms
25:	learn: 0.6259454	total: 77.7ms	remaining: 71.7ms
26:	learn: 0.6222483	total: 78.3ms	remaining: 66.7ms
27:	learn: 0.6203029	total: 78.9ms	remaining: 62ms
28:	learn: 0.6171774	total: 79.6ms	remaining: 57.6ms
29:	learn: 0.6157930	total: 80.2ms	remaining: 53.4ms
30:	learn: 0.6128017	total: 80.8ms	remaining: 49.5ms
31:	learn: 0.6114702	total: 81.4ms	remaining: 45.8ms
32:	learn: 0.6095580	total: 82.1ms	remaining: 42.3ms
33:	learn: 0.6064797	total: 82.7ms	remaining: 38.9ms
34:	learn: 0.6041545	total: 83.3ms	remaining: 35.7ms
35:	learn: 0.6020163	total: 83.9ms	remaining: 32.6ms
36:	learn: 0.6004391	total: 84.6ms	remaining: 29.7ms
37:	learn: 0.5981655	total: 85.1ms	remaining: 26.9ms
38:	learn: 0.5966727	total: 85.7ms	remaining: 24.2ms
39:	learn: 0.5953036	total: 86.3ms	remaining: 21.6ms
40:	learn: 0.5932998	total: 86.8ms	remaining: 19.1ms
41:	learn: 0.5921989	total: 87.4ms	remaining: 16.6ms
42:	learn: 0.5905445	total: 88ms	remaining: 14.3ms
43:	learn: 0.5889319	total: 88.5ms	remaining: 12.1ms
44:	learn: 0.5876011	total: 89.1ms	remaining: 9.9ms
45:	learn: 0.5832283	total: 89.7ms	remaining: 7.8ms
46:	learn: 0.5822634	total: 90.3ms	remaining: 5.76ms
47:	learn: 0.5809461	total: 90.9ms	remaining: 3.79ms
48:	learn: 0.5786257	total: 91.5ms	remaining: 1.87ms
49:	learn: 0.5765305	total: 92ms	remaining: 0us

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.7993213	total: 1.42ms	remaining: 69.6ms
1:	learn: 0.7794518	total: 2.28ms	remaining: 54.8ms
2:	learn: 0.7631886	total: 2.88ms	remaining: 45.1ms
3:	learn: 0.7459147	total: 3.45ms	remaining: 39.6ms
4:	learn: 0.7319151	total: 4.05ms	remaining: 36.4ms
5:	learn: 0.7208600	total: 4.63ms	remaining: 34ms
6:	learn: 0.7102832	total: 5.2ms	remaining: 31.9ms
7:	learn: 0.7006568	total: 5.83ms	remaining: 30.6ms
8:	learn: 0.6913838	total: 6.39ms	remaining: 29.1ms
9:	learn: 0.6866620	total: 6.56ms	remaining: 26.2ms
10:	learn: 0.6800675	total: 7.14ms	remaining: 25.3ms
11:	learn: 0.6740410	total: 7.7ms	remaining: 24.4ms
12:	learn: 0.6701491	total: 8.3ms	remaining: 23.6ms
13:	learn: 0.6655530	total: 8.87ms	remaining: 22.8ms
14:	learn: 0.6605336	total: 9.58ms	remaining: 22.3ms
15:	learn: 0.6558666	total: 10.2ms	remaining: 21.8ms
16:	learn: 0.6520966	total: 10.9ms	remaining: 21.1ms
17:	learn: 0.6486971	total: 11.5ms	remaining: 20.4ms
18:	learn: 0.6436188	total: 12ms	remaining: 19.6ms
19:	learn: 0.6406568	total: 13.4ms	remaining: 20ms
20:	learn: 0.6365125	total: 13.9ms	remaining: 19.3ms
21:	learn: 0.6333879	total: 14.5ms	remaining: 18.5ms
22:	learn: 0.6311401	total: 15.2ms	remaining: 17.8ms
23:	learn: 0.6293954	total: 16ms	remaining: 17.3ms
24:	learn: 0.6264507	total: 16.8ms	remaining: 16.8ms
25:	learn: 0.6219214	total: 17.9ms	remaining: 16.5ms
26:	learn: 0.6166146	total: 18.6ms	remaining: 15.8ms
27:	learn: 0.6143279	total: 19.4ms	remaining: 15.2ms
28:	learn: 0.6120035	total: 20.1ms	remaining: 14.5ms
29:	learn: 0.6102134	total: 20.8ms	remaining: 13.8ms
30:	learn: 0.6091144	total: 21.4ms	remaining: 13.1ms
31:	learn: 0.6052203	total: 22.1ms	remaining: 12.4ms
32:	learn: 0.6023686	total: 22.8ms	remaining: 11.7ms
33:	learn: 0.6006699	total: 23.5ms	remaining: 11ms
34:	learn: 0.5997793	total: 24.2ms	remaining: 10.4ms
35:	learn: 0.5982515	total: 24.8ms	remaining: 9.66ms
36:	learn: 0.5967357	total: 25.5ms	remaining: 8.97ms
37:	learn: 0.5960906	total: 26.1ms	remaining: 8.24ms
38:	learn: 0.5948486	total: 26.7ms	remaining: 7.52ms
39:	learn: 0.5919706	total: 27.4ms	remaining: 6.84ms
40:	learn: 0.5908435	total: 28ms	remaining: 6.14ms
41:	learn: 0.5869391	total: 28.6ms	remaining: 5.45ms
42:	learn: 0.5853459	total: 29.2ms	remaining: 4.75ms
43:	learn: 0.5835458	total: 29.8ms	remaining: 4.07ms
44:	learn: 0.5814515	total: 30.5ms	remaining: 3.38ms
45:	learn: 0.5794655	total: 31.1ms	remaining: 2.7ms
46:	learn: 0.5777734	total: 31.6ms	remaining: 2.02ms
47:	learn: 0.5739399	total: 32.2ms	remaining: 1.34ms
48:	learn: 0.5723975	total: 32.9ms	remaining: 671us
49:	learn: 0.5715177	total: 33.6ms	remaining: 0us

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.7995048	total: 1.01ms	remaining: 49.4ms
1:	learn: 0.7810947	total: 1.88ms	remaining: 45.1ms
2:	learn: 0.7646068	total: 2.62ms	remaining: 41ms
3:	learn: 0.7495526	total: 3.16ms	remaining: 36.3ms
4:	learn: 0.7391034	total: 3.5ms	remaining: 31.5ms
5:	learn: 0.7285023	total: 4.13ms	remaining: 30.3ms
6:	learn: 0.7186889	total: 4.79ms	remaining: 29.4ms
7:	learn: 0.7109556	total: 5.5ms	remaining: 28.9ms
8:	learn: 0.7039596	total: 6.19ms	remaining: 28.2ms
9:	learn: 0.6957411	total: 7.09ms	remaining: 28.4ms
10:	learn: 0.6900352	total: 7.64ms	remaining: 27.1ms
11:	learn: 0.6844688	total: 8.15ms	remaining: 25.8ms
12:	learn: 0.6792982	total: 8.76ms	remaining: 24.9ms
13:	learn: 0.6735617	total: 9.46ms	remaining: 24.3ms
14:	learn: 0.6681493	total: 10.2ms	remaining: 23.7ms
15:	learn: 0.6642274	total: 10.7ms	remaining: 22.8ms
16:	learn: 0.6597504	total: 11.4ms	remaining: 22ms
17:	learn: 0.6559138	total: 12ms	remaining: 21.3ms
18:	learn: 0.6506988	total: 12.7ms	remaining: 20.8ms
19:	learn: 0.6480750	total: 13.3ms	remaining: 20ms
20:	learn: 0.6444866	total: 13.9ms	remaining: 19.2ms
21:	learn: 0.6421865	total: 14.5ms	remaining: 18.5ms
22:	learn: 0.6382163	total: 15.2ms	remaining: 17.8ms
23:	learn: 0.6365761	total: 16ms	remaining: 17.3ms
24:	learn: 0.6316301	total: 16.6ms	remaining: 16.6ms
25:	learn: 0.6271996	total: 17.3ms	remaining: 16ms
26:	learn: 0.6257927	total: 18.7ms	remaining: 15.9ms
27:	learn: 0.6241051	total: 19.4ms	remaining: 15.2ms
28:	learn: 0.6209955	total: 20ms	remaining: 14.5ms
29:	learn: 0.6179999	total: 20.7ms	remaining: 13.8ms
30:	learn: 0.6162417	total: 21.4ms	remaining: 13.1ms
31:	learn: 0.6143128	total: 22ms	remaining: 12.4ms
32:	learn: 0.6116088	total: 22.6ms	remaining: 11.7ms
33:	learn: 0.6096831	total: 23.3ms	remaining: 11ms
34:	learn: 0.6074102	total: 23.9ms	remaining: 10.2ms
35:	learn: 0.6060782	total: 24.5ms	remaining: 9.52ms
36:	learn: 0.6048089	total: 25.1ms	remaining: 8.81ms
37:	learn: 0.6030781	total: 25.6ms	remaining: 8.09ms
38:	learn: 0.6007130	total: 26.2ms	remaining: 7.4ms
39:	learn: 0.6000546	total: 26.9ms	remaining: 6.72ms
40:	learn: 0.5972419	total: 27.5ms	remaining: 6.03ms
41:	learn: 0.5959082	total: 28.1ms	remaining: 5.36ms
42:	learn: 0.5949874	total: 28.8ms	remaining: 4.68ms
43:	learn: 0.5937799	total: 29.5ms	remaining: 4.03ms
44:	learn: 0.5899608	total: 30.2ms	remaining: 3.36ms
45:	learn: 0.5882517	total: 31ms	remaining: 2.69ms
46:	learn: 0.5874048	total: 31.7ms	remaining: 2.02ms
47:	learn: 0.5843892	total: 32.4ms	remaining: 1.35ms
48:	learn: 0.5825996	total: 33.2ms	remaining: 676us
49:	learn: 0.5799181	total: 33.8ms	remaining: 0us

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.8086833	total: 699us	remaining: 34.3ms
1:	learn: 0.7918730	total: 1.54ms	remaining: 37.1ms
2:	learn: 0.7752444	total: 2.17ms	remaining: 34ms
3:	learn: 0.7589900	total: 2.79ms	remaining: 32ms
4:	learn: 0.7481636	total: 3.04ms	remaining: 27.4ms
5:	learn: 0.7369752	total: 3.63ms	remaining: 26.7ms
6:	learn: 0.7270223	total: 4.21ms	remaining: 25.8ms
7:	learn: 0.7193245	total: 4.77ms	remaining: 25.1ms
8:	learn: 0.7121979	total: 5.37ms	remaining: 24.5ms
9:	learn: 0.7031671	total: 5.98ms	remaining: 23.9ms
10:	learn: 0.6974567	total: 6.59ms	remaining: 23.4ms
11:	learn: 0.6912330	total: 7.2ms	remaining: 22.8ms
12:	learn: 0.6861317	total: 7.81ms	remaining: 22.2ms
13:	learn: 0.6803021	total: 8.4ms	remaining: 21.6ms
14:	learn: 0.6761532	total: 9.02ms	remaining: 21ms
15:	learn: 0.6719595	total: 9.61ms	remaining: 20.4ms
16:	learn: 0.6684587	total: 10.2ms	remaining: 19.7ms
17:	learn: 0.6639390	total: 10.8ms	remaining: 19.1ms
18:	learn: 0.6594149	total: 11.3ms	remaining: 18.5ms
19:	learn: 0.6567381	total: 11.9ms	remaining: 17.9ms
20:	learn: 0.6540624	total: 12.5ms	remaining: 17.3ms
21:	learn: 0.6507117	total: 13.1ms	remaining: 16.7ms
22:	learn: 0.6482332	total: 13.7ms	remaining: 16.1ms
23:	learn: 0.6452414	total: 14.2ms	remaining: 15.4ms
24:	learn: 0.6416501	total: 14.9ms	remaining: 14.9ms
25:	learn: 0.6390798	total: 15.4ms	remaining: 14.3ms
26:	learn: 0.6362546	total: 16ms	remaining: 13.7ms
27:	learn: 0.6350504	total: 16.6ms	remaining: 13.1ms
28:	learn: 0.6316380	total: 17.2ms	remaining: 12.5ms
29:	learn: 0.6292894	total: 17.8ms	remaining: 11.9ms
30:	learn: 0.6274772	total: 18.4ms	remaining: 11.3ms
31:	learn: 0.6263665	total: 19ms	remaining: 10.7ms
32:	learn: 0.6226450	total: 19.6ms	remaining: 10.1ms
33:	learn: 0.6194864	total: 20.1ms	remaining: 9.47ms
34:	learn: 0.6164465	total: 20.7ms	remaining: 8.88ms
35:	learn: 0.6154363	total: 21.4ms	remaining: 8.31ms
36:	learn: 0.6125366	total: 22ms	remaining: 7.73ms
37:	learn: 0.6113507	total: 22.4ms	remaining: 7.07ms
38:	learn: 0.6088767	total: 23ms	remaining: 6.48ms
39:	learn: 0.6066034	total: 23.6ms	remaining: 5.89ms
40:	learn: 0.6050118	total: 24.1ms	remaining: 5.3ms
41:	learn: 0.6042958	total: 24.7ms	remaining: 4.71ms
42:	learn: 0.6020029	total: 25.3ms	remaining: 4.12ms
43:	learn: 0.6006942	total: 25.9ms	remaining: 3.53ms
44:	learn: 0.5975518	total: 26.5ms	remaining: 2.94ms
45:	learn: 0.5959207	total: 27.1ms	remaining: 2.35ms
46:	learn: 0.5925097	total: 27.7ms	remaining: 1.77ms
47:	learn: 0.5909571	total: 28.3ms	remaining: 1.18ms
48:	learn: 0.5883936	total: 28.8ms	remaining: 588us
49:	learn: 0.5866940	total: 29.4ms	remaining: 0us

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.8070982	total: 1.41ms	remaining: 69.2ms
1:	learn: 0.7867748	total: 2.15ms	remaining: 51.5ms
2:	learn: 0.7710852	total: 2.76ms	remaining: 43.2ms
3:	learn: 0.7539396	total: 3.42ms	remaining: 39.3ms
4:	learn: 0.7427565	total: 3.69ms	remaining: 33.2ms
5:	learn: 0.7298689	total: 4.27ms	remaining: 31.3ms
6:	learn: 0.7195742	total: 4.84ms	remaining: 29.7ms
7:	learn: 0.7105741	total: 5.41ms	remaining: 28.4ms
8:	learn: 0.7028071	total: 6.04ms	remaining: 27.5ms
9:	learn: 0.6936624	total: 6.62ms	remaining: 26.5ms
10:	learn: 0.6870465	total: 7.21ms	remaining: 25.6ms
11:	learn: 0.6812810	total: 7.83ms	remaining: 24.8ms
12:	learn: 0.6751851	total: 8.49ms	remaining: 24.2ms
13:	learn: 0.6689003	total: 9.1ms	remaining: 23.4ms
14:	learn: 0.6642087	total: 9.72ms	remaining: 22.7ms
15:	learn: 0.6600772	total: 10.3ms	remaining: 21.9ms
16:	learn: 0.6567672	total: 10.9ms	remaining: 21.1ms
17:	learn: 0.6539972	total: 11.5ms	remaining: 20.4ms
18:	learn: 0.6481000	total: 12.2ms	remaining: 19.9ms
19:	learn: 0.6462360	total: 12.8ms	remaining: 19.2ms
20:	learn: 0.6429149	total: 13.4ms	remaining: 18.6ms
21:	learn: 0.6397906	total: 14ms	remaining: 17.9ms
22:	learn: 0.6366765	total: 14.7ms	remaining: 17.2ms
23:	learn: 0.6348118	total: 15.3ms	remaining: 16.6ms
24:	learn: 0.6297994	total: 15.9ms	remaining: 15.9ms
25:	learn: 0.6244824	total: 16.5ms	remaining: 15.2ms
26:	learn: 0.6218829	total: 17ms	remaining: 14.5ms
27:	learn: 0.6202889	total: 17.6ms	remaining: 13.8ms
28:	learn: 0.6170679	total: 18.2ms	remaining: 13.2ms
29:	learn: 0.6155408	total: 19.5ms	remaining: 13ms
30:	learn: 0.6129050	total: 20.1ms	remaining: 12.3ms
31:	learn: 0.6120347	total: 20.4ms	remaining: 11.5ms
32:	learn: 0.6108546	total: 21.1ms	remaining: 10.9ms
33:	learn: 0.6095758	total: 21.7ms	remaining: 10.2ms
34:	learn: 0.6079002	total: 22.3ms	remaining: 9.54ms
35:	learn: 0.6071017	total: 22.8ms	remaining: 8.88ms
36:	learn: 0.6048724	total: 23.4ms	remaining: 8.23ms
37:	learn: 0.6012898	total: 24ms	remaining: 7.58ms
38:	learn: 0.6004860	total: 24.6ms	remaining: 6.94ms
39:	learn: 0.5985051	total: 25.2ms	remaining: 6.29ms
40:	learn: 0.5958656	total: 25.7ms	remaining: 5.65ms
41:	learn: 0.5947627	total: 26.4ms	remaining: 5.02ms
42:	learn: 0.5927238	total: 26.9ms	remaining: 4.38ms
43:	learn: 0.5916446	total: 27.5ms	remaining: 3.75ms
44:	learn: 0.5883600	total: 28.1ms	remaining: 3.12ms
45:	learn: 0.5874417	total: 28.7ms	remaining: 2.49ms
46:	learn: 0.5866157	total: 29.3ms	remaining: 1.87ms
47:	learn: 0.5852592	total: 29.8ms	remaining: 1.24ms
48:	learn: 0.5840976	total: 30.4ms	remaining: 619us
49:	learn: 0.5827624	total: 31ms	remaining: 0us

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.8165229	total: 1.49ms	remaining: 73.1ms
1:	learn: 0.7961747	total: 2.31ms	remaining: 55.4ms
2:	learn: 0.7805374	total: 2.97ms	remaining: 46.5ms
3:	learn: 0.7670513	total: 3.6ms	remaining: 41.5ms
4:	learn: 0.7555006	total: 3.87ms	remaining: 34.8ms
5:	learn: 0.7422100	total: 4.51ms	remaining: 33.1ms
6:	learn: 0.7310590	total: 5.14ms	remaining: 31.6ms
7:	learn: 0.7232205	total: 5.76ms	remaining: 30.3ms
8:	learn: 0.7155448	total: 6.36ms	remaining: 29ms
9:	learn: 0.7075916	total: 6.95ms	remaining: 27.8ms
10:	learn: 0.7022246	total: 7.59ms	remaining: 26.9ms
11:	learn: 0.6932459	total: 8.79ms	remaining: 27.8ms
12:	learn: 0.6879282	total: 9.39ms	remaining: 26.7ms
13:	learn: 0.6809454	total: 9.98ms	remaining: 25.7ms
14:	learn: 0.6762887	total: 10.6ms	remaining: 24.6ms
15:	learn: 0.6720024	total: 11.1ms	remaining: 23.7ms
16:	learn: 0.6685208	total: 11.8ms	remaining: 22.9ms
17:	learn: 0.6645813	total: 12.4ms	remaining: 22.1ms
18:	learn: 0.6585797	total: 13ms	remaining: 21.2ms
19:	learn: 0.6550138	total: 13.6ms	remaining: 20.4ms
20:	learn: 0.6517376	total: 14.2ms	remaining: 19.6ms
21:	learn: 0.6494741	total: 14.8ms	remaining: 18.8ms
22:	learn: 0.6458553	total: 15.3ms	remaining: 18ms
23:	learn: 0.6447216	total: 15.6ms	remaining: 16.9ms
24:	learn: 0.6431210	total: 16.2ms	remaining: 16.2ms
25:	learn: 0.6396710	total: 16.8ms	remaining: 15.5ms
26:	learn: 0.6367701	total: 17.4ms	remaining: 14.8ms
27:	learn: 0.6347022	total: 17.9ms	remaining: 14.1ms
28:	learn: 0.6318380	total: 18.5ms	remaining: 13.4ms
29:	learn: 0.6297918	total: 19ms	remaining: 12.7ms
30:	learn: 0.6281290	total: 19.6ms	remaining: 12ms
31:	learn: 0.6245604	total: 20.2ms	remaining: 11.4ms
32:	learn: 0.6232089	total: 20.8ms	remaining: 10.7ms
33:	learn: 0.6199941	total: 21.4ms	remaining: 10.1ms
34:	learn: 0.6183168	total: 22ms	remaining: 9.42ms
35:	learn: 0.6149365	total: 22.7ms	remaining: 8.83ms
36:	learn: 0.6135272	total: 23.3ms	remaining: 8.18ms
37:	learn: 0.6122517	total: 23.7ms	remaining: 7.47ms
38:	learn: 0.6095546	total: 24.2ms	remaining: 6.83ms
39:	learn: 0.6061802	total: 24.8ms	remaining: 6.21ms
40:	learn: 0.6039539	total: 25.4ms	remaining: 5.58ms
41:	learn: 0.6021465	total: 26ms	remaining: 4.95ms
42:	learn: 0.6008220	total: 26.6ms	remaining: 4.33ms
43:	learn: 0.5992383	total: 27.2ms	remaining: 3.71ms
44:	learn: 0.5972118	total: 27.7ms	remaining: 3.08ms
45:	learn: 0.5949691	total: 28.3ms	remaining: 2.46ms
46:	learn: 0.5935277	total: 28.9ms	remaining: 1.84ms
47:	learn: 0.5908803	total: 29.5ms	remaining: 1.23ms
48:	learn: 0.5891069	total: 30ms	remaining: 613us
49:	learn: 0.5877302	total: 30.6ms	remaining: 0us

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.8141555	total: 745us	remaining: 36.5ms
1:	learn: 0.7967145	total: 1.54ms	remaining: 37ms
2:	learn: 0.7791867	total: 2.17ms	remaining: 34ms
3:	learn: 0.7625376	total: 2.77ms	remaining: 31.8ms
4:	learn: 0.7513866	total: 3.01ms	remaining: 27.1ms
5:	learn: 0.7400299	total: 3.65ms	remaining: 26.7ms
6:	learn: 0.7296159	total: 4.24ms	remaining: 26ms
7:	learn: 0.7212729	total: 4.88ms	remaining: 25.6ms
8:	learn: 0.7135578	total: 5.45ms	remaining: 24.8ms
9:	learn: 0.7043726	total: 6.04ms	remaining: 24.2ms
10:	learn: 0.6987526	total: 6.64ms	remaining: 23.5ms
11:	learn: 0.6924693	total: 7.26ms	remaining: 23ms
12:	learn: 0.6871751	total: 7.85ms	remaining: 22.3ms
13:	learn: 0.6819565	total: 8.44ms	remaining: 21.7ms
14:	learn: 0.6774394	total: 9ms	remaining: 21ms
15:	learn: 0.6736880	total: 9.41ms	remaining: 20ms
16:	learn: 0.6683116	total: 10ms	remaining: 19.5ms
17:	learn: 0.6645144	total: 10.6ms	remaining: 18.8ms
18:	learn: 0.6616722	total: 11.2ms	remaining: 18.2ms
19:	learn: 0.6571281	total: 11.7ms	remaining: 17.6ms
20:	learn: 0.6541408	total: 12.3ms	remaining: 17ms
21:	learn: 0.6516095	total: 12.9ms	remaining: 16.4ms
22:	learn: 0.6487842	total: 13.5ms	remaining: 15.9ms
23:	learn: 0.6464510	total: 14.1ms	remaining: 15.2ms
24:	learn: 0.6430525	total: 14.6ms	remaining: 14.6ms
25:	learn: 0.6403287	total: 15.3ms	remaining: 14.1ms
26:	learn: 0.6375502	total: 15.8ms	remaining: 13.5ms
27:	learn: 0.6356375	total: 16.4ms	remaining: 12.9ms
28:	learn: 0.6324253	total: 17.1ms	remaining: 12.4ms
29:	learn: 0.6315568	total: 17.3ms	remaining: 11.5ms
30:	learn: 0.6294811	total: 17.9ms	remaining: 11ms
31:	learn: 0.6278975	total: 18.5ms	remaining: 10.4ms
32:	learn: 0.6262949	total: 19.1ms	remaining: 9.82ms
33:	learn: 0.6251190	total: 19.6ms	remaining: 9.24ms
34:	learn: 0.6244444	total: 20.2ms	remaining: 8.67ms
35:	learn: 0.6233665	total: 20.8ms	remaining: 8.09ms
36:	learn: 0.6207136	total: 21.4ms	remaining: 7.51ms
37:	learn: 0.6189711	total: 21.9ms	remaining: 6.93ms
38:	learn: 0.6176310	total: 22.5ms	remaining: 6.35ms
39:	learn: 0.6138878	total: 23.1ms	remaining: 5.76ms
40:	learn: 0.6126395	total: 23.6ms	remaining: 5.19ms
41:	learn: 0.6101620	total: 24.2ms	remaining: 4.62ms
42:	learn: 0.6087265	total: 24.8ms	remaining: 4.04ms
43:	learn: 0.6074124	total: 25.5ms	remaining: 3.47ms
44:	learn: 0.6053621	total: 26ms	remaining: 2.89ms
45:	learn: 0.6033029	total: 26.5ms	remaining: 2.31ms
46:	learn: 0.6020990	total: 27.1ms	remaining: 1.73ms
47:	learn: 0.5999980	total: 27.7ms	remaining: 1.15ms
48:	learn: 0.5975663	total: 28.2ms	remaining: 576us
49:	learn: 0.5962440	total: 28.8ms	remaining: 0us

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.7998657	total: 695us	remaining: 34.1ms
1:	learn: 0.7838033	total: 1.54ms	remaining: 37ms
2:	learn: 0.7675119	total: 2.19ms	remaining: 34.3ms
3:	learn: 0.7519539	total: 3.37ms	remaining: 38.7ms
4:	learn: 0.7416577	total: 3.67ms	remaining: 33ms
5:	learn: 0.7312162	total: 4.25ms	remaining: 31.2ms
6:	learn: 0.7216289	total: 4.87ms	remaining: 29.9ms
7:	learn: 0.7145558	total: 5.46ms	remaining: 28.7ms
8:	learn: 0.7071726	total: 6.08ms	remaining: 27.7ms
9:	learn: 0.6979072	total: 6.72ms	remaining: 26.9ms
10:	learn: 0.6920009	total: 7.37ms	remaining: 26.1ms
11:	learn: 0.6850932	total: 7.97ms	remaining: 25.2ms
12:	learn: 0.6793527	total: 8.6ms	remaining: 24.5ms
13:	learn: 0.6740412	total: 9.19ms	remaining: 23.6ms
14:	learn: 0.6699309	total: 9.78ms	remaining: 22.8ms
15:	learn: 0.6654636	total: 10.1ms	remaining: 21.5ms
16:	learn: 0.6619202	total: 10.7ms	remaining: 20.8ms
17:	learn: 0.6583671	total: 11.3ms	remaining: 20.1ms
18:	learn: 0.6549428	total: 11.9ms	remaining: 19.3ms
19:	learn: 0.6518477	total: 12.4ms	remaining: 18.7ms
20:	learn: 0.6489586	total: 13ms	remaining: 18ms
21:	learn: 0.6454063	total: 13.6ms	remaining: 17.3ms
22:	learn: 0.6427616	total: 14.1ms	remaining: 16.6ms
23:	learn: 0.6401432	total: 14.7ms	remaining: 16ms
24:	learn: 0.6373029	total: 15.3ms	remaining: 15.3ms
25:	learn: 0.6362420	total: 15.8ms	remaining: 14.6ms
26:	learn: 0.6347867	total: 16.3ms	remaining: 13.9ms
27:	learn: 0.6312829	total: 17ms	remaining: 13.4ms
28:	learn: 0.6291320	total: 17.6ms	remaining: 12.7ms
29:	learn: 0.6276296	total: 18.1ms	remaining: 12.1ms
30:	learn: 0.6262125	total: 18.7ms	remaining: 11.5ms
31:	learn: 0.6207072	total: 19.2ms	remaining: 10.8ms
32:	learn: 0.6185232	total: 19.8ms	remaining: 10.2ms
33:	learn: 0.6150005	total: 20.4ms	remaining: 9.62ms
34:	learn: 0.6132833	total: 21.1ms	remaining: 9.04ms
35:	learn: 0.6120423	total: 21.6ms	remaining: 8.41ms
36:	learn: 0.6082441	total: 22.2ms	remaining: 7.8ms
37:	learn: 0.6068066	total: 22.8ms	remaining: 7.2ms
38:	learn: 0.6053297	total: 23.4ms	remaining: 6.6ms
39:	learn: 0.6039777	total: 23.9ms	remaining: 5.98ms
40:	learn: 0.6015701	total: 24.5ms	remaining: 5.38ms
41:	learn: 0.6009989	total: 25.1ms	remaining: 4.77ms
42:	learn: 0.5987260	total: 25.6ms	remaining: 4.17ms
43:	learn: 0.5975948	total: 26.2ms	remaining: 3.58ms
44:	learn: 0.5950810	total: 26.8ms	remaining: 2.98ms
45:	learn: 0.5930175	total: 27.4ms	remaining: 2.38ms
46:	learn: 0.5918986	total: 28ms	remaining: 1.78ms
47:	learn: 0.5896968	total: 28.5ms	remaining: 1.19ms
48:	learn: 0.5868520	total: 29.1ms	remaining: 593us
49:	learn: 0.5862166	total: 29.7ms	remaining: 0us

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.8073869	total: 653us	remaining: 32ms
1:	learn: 0.7888421	total: 1.39ms	remaining: 33.3ms
2:	learn: 0.7723297	total: 2.06ms	remaining: 32.2ms
3:	learn: 0.7586699	total: 2.7ms	remaining: 31ms
4:	learn: 0.7454130	total: 3.32ms	remaining: 29.9ms
5:	learn: 0.7356888	total: 3.92ms	remaining: 28.8ms
6:	learn: 0.7255911	total: 4.54ms	remaining: 27.9ms
7:	learn: 0.7159757	total: 5.13ms	remaining: 26.9ms
8:	learn: 0.7069031	total: 5.72ms	remaining: 26.1ms
9:	learn: 0.6993118	total: 6.33ms	remaining: 25.3ms
10:	learn: 0.6934756	total: 6.91ms	remaining: 24.5ms
11:	learn: 0.6857667	total: 7.54ms	remaining: 23.9ms
12:	learn: 0.6806747	total: 8.19ms	remaining: 23.3ms
13:	learn: 0.6755579	total: 8.8ms	remaining: 22.6ms
14:	learn: 0.6707391	total: 9.38ms	remaining: 21.9ms
15:	learn: 0.6661668	total: 9.96ms	remaining: 21.2ms
16:	learn: 0.6610993	total: 10.5ms	remaining: 20.5ms
17:	learn: 0.6577261	total: 11.1ms	remaining: 19.8ms
18:	learn: 0.6548281	total: 11.8ms	remaining: 19.2ms
19:	learn: 0.6515487	total: 12.3ms	remaining: 18.5ms
20:	learn: 0.6487168	total: 12.9ms	remaining: 17.9ms
21:	learn: 0.6455702	total: 13.5ms	remaining: 17.1ms
22:	learn: 0.6415288	total: 14.1ms	remaining: 16.5ms
23:	learn: 0.6389252	total: 14.6ms	remaining: 15.8ms
24:	learn: 0.6343545	total: 15.2ms	remaining: 15.2ms
25:	learn: 0.6318119	total: 15.8ms	remaining: 14.5ms
26:	learn: 0.6287635	total: 16.3ms	remaining: 13.9ms
27:	learn: 0.6256959	total: 16.9ms	remaining: 13.3ms
28:	learn: 0.6231546	total: 17.4ms	remaining: 12.6ms
29:	learn: 0.6221350	total: 18ms	remaining: 12ms
30:	learn: 0.6202992	total: 18.6ms	remaining: 11.4ms
31:	learn: 0.6195885	total: 19ms	remaining: 10.7ms
32:	learn: 0.6183736	total: 19.6ms	remaining: 10.1ms
33:	learn: 0.6163159	total: 20.2ms	remaining: 9.49ms
34:	learn: 0.6131221	total: 20.7ms	remaining: 8.89ms
35:	learn: 0.6120259	total: 21.3ms	remaining: 8.28ms
36:	learn: 0.6101693	total: 21.8ms	remaining: 7.67ms
37:	learn: 0.6081131	total: 22.5ms	remaining: 7.09ms
38:	learn: 0.6066389	total: 23.1ms	remaining: 6.51ms
39:	learn: 0.6051476	total: 23.6ms	remaining: 5.91ms
40:	learn: 0.6025740	total: 24.2ms	remaining: 5.31ms
41:	learn: 0.6019566	total: 24.9ms	remaining: 4.74ms
42:	learn: 0.5990688	total: 25.5ms	remaining: 4.14ms
43:	learn: 0.5982431	total: 26.1ms	remaining: 3.55ms
44:	learn: 0.5957029	total: 26.6ms	remaining: 2.96ms
45:	learn: 0.5946094	total: 27.2ms	remaining: 2.37ms
46:	learn: 0.5934763	total: 27.8ms	remaining: 1.77ms
47:	learn: 0.5921148	total: 28.4ms	remaining: 1.18ms
48:	learn: 0.5902693	total: 29ms	remaining: 591us
49:	learn: 0.5897070	total: 29.6ms	remaining: 0us

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.8055408	total: 1.36ms	remaining: 66.8ms
1:	learn: 0.7878484	total: 2.38ms	remaining: 57.2ms
2:	learn: 0.7718444	total: 3.04ms	remaining: 47.6ms
3:	learn: 0.7588759	total: 3.67ms	remaining: 42.2ms
4:	learn: 0.7481817	total: 3.92ms	remaining: 35.3ms
5:	learn: 0.7363504	total: 4.51ms	remaining: 33.1ms
6:	learn: 0.7253979	total: 5.14ms	remaining: 31.6ms
7:	learn: 0.7183816	total: 5.83ms	remaining: 30.6ms
8:	learn: 0.7122518	total: 6.44ms	remaining: 29.3ms
9:	learn: 0.7040320	total: 7.05ms	remaining: 28.2ms
10:	learn: 0.6978958	total: 7.63ms	remaining: 27.1ms
11:	learn: 0.6905428	total: 8.25ms	remaining: 26.1ms
12:	learn: 0.6829345	total: 8.84ms	remaining: 25.2ms
13:	learn: 0.6763944	total: 9.46ms	remaining: 24.3ms
14:	learn: 0.6715588	total: 10ms	remaining: 23.4ms
15:	learn: 0.6667047	total: 10.7ms	remaining: 22.6ms
16:	learn: 0.6630824	total: 11.3ms	remaining: 21.9ms
17:	learn: 0.6595619	total: 11.9ms	remaining: 21.1ms
18:	learn: 0.6548834	total: 12.5ms	remaining: 20.4ms
19:	learn: 0.6503477	total: 13.1ms	remaining: 19.7ms
20:	learn: 0.6478833	total: 13.7ms	remaining: 18.9ms
21:	learn: 0.6459211	total: 14.3ms	remaining: 18.2ms
22:	learn: 0.6429906	total: 14.9ms	remaining: 17.5ms
23:	learn: 0.6396433	total: 15.4ms	remaining: 16.7ms
24:	learn: 0.6363046	total: 16ms	remaining: 16ms
25:	learn: 0.6322044	total: 16.6ms	remaining: 15.4ms
26:	learn: 0.6306643	total: 17.2ms	remaining: 14.7ms
27:	learn: 0.6290445	total: 17.8ms	remaining: 14ms
28:	learn: 0.6263664	total: 18.4ms	remaining: 13.3ms
29:	learn: 0.6249633	total: 19.1ms	remaining: 12.7ms
30:	learn: 0.6224014	total: 19.6ms	remaining: 12ms
31:	learn: 0.6209087	total: 20.2ms	remaining: 11.3ms
32:	learn: 0.6187400	total: 20.8ms	remaining: 10.7ms
33:	learn: 0.6170446	total: 21.3ms	remaining: 10ms
34:	learn: 0.6157655	total: 22ms	remaining: 9.42ms
35:	learn: 0.6146999	total: 22.5ms	remaining: 8.77ms
36:	learn: 0.6131586	total: 23.1ms	remaining: 8.12ms
37:	learn: 0.6120877	total: 23.5ms	remaining: 7.41ms
38:	learn: 0.6108860	total: 24.1ms	remaining: 6.79ms
39:	learn: 0.6099948	total: 24.7ms	remaining: 6.17ms
40:	learn: 0.6072779	total: 25.2ms	remaining: 5.54ms
41:	learn: 0.6060770	total: 25.8ms	remaining: 4.91ms
42:	learn: 0.6040494	total: 26.3ms	remaining: 4.29ms
43:	learn: 0.6025023	total: 26.9ms	remaining: 3.67ms
44:	learn: 0.5990832	total: 27.5ms	remaining: 3.05ms
45:	learn: 0.5978333	total: 28.1ms	remaining: 2.44ms
46:	learn: 0.5967014	total: 28.7ms	remaining: 1.83ms
47:	learn: 0.5956133	total: 29.3ms	remaining: 1.22ms
48:	learn: 0.5945788	total: 29.8ms	remaining: 608us
49:	learn: 0.5939145	total: 30.4ms	remaining: 0us
Cross validation variance 0.01710992538856493
Cross validation mean score 0.2728652730207317

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/ensemble/_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0:	learn: 0.8064669	total: 701us	remaining: 34.4ms
1:	learn: 0.7889689	total: 1.46ms	remaining: 35ms
2:	learn: 0.7719964	total: 2.14ms	remaining: 33.5ms
3:	learn: 0.7555199	total: 2.74ms	remaining: 31.5ms
4:	learn: 0.7445777	total: 3.04ms	remaining: 27.4ms
5:	learn: 0.7333111	total: 3.62ms	remaining: 26.6ms
6:	learn: 0.7233200	total: 4.25ms	remaining: 26.1ms
7:	learn: 0.7158872	total: 4.84ms	remaining: 25.4ms
8:	learn: 0.7087192	total: 5.43ms	remaining: 24.7ms
9:	learn: 0.7003106	total: 6.06ms	remaining: 24.2ms
10:	learn: 0.6944448	total: 6.68ms	remaining: 23.7ms
11:	learn: 0.6869355	total: 7.28ms	remaining: 23ms
12:	learn: 0.6818191	total: 7.9ms	remaining: 22.5ms
13:	learn: 0.6757595	total: 8.49ms	remaining: 21.8ms
14:	learn: 0.6712115	total: 9.04ms	remaining: 21.1ms
15:	learn: 0.6676887	total: 9.41ms	remaining: 20ms
16:	learn: 0.6636343	total: 9.99ms	remaining: 19.4ms
17:	learn: 0.6602928	total: 10.6ms	remaining: 18.8ms
18:	learn: 0.6564350	total: 11.1ms	remaining: 18.2ms
19:	learn: 0.6528868	total: 11.8ms	remaining: 17.6ms
20:	learn: 0.6504670	total: 12.3ms	remaining: 17ms
21:	learn: 0.6480544	total: 12.9ms	remaining: 16.4ms
22:	learn: 0.6457763	total: 13.5ms	remaining: 15.8ms
23:	learn: 0.6431607	total: 14.1ms	remaining: 15.2ms
24:	learn: 0.6407039	total: 14.6ms	remaining: 14.6ms
25:	learn: 0.6396291	total: 15ms	remaining: 13.9ms
26:	learn: 0.6373606	total: 15.6ms	remaining: 13.3ms
27:	learn: 0.6347440	total: 16.2ms	remaining: 12.7ms
28:	learn: 0.6323720	total: 16.7ms	remaining: 12.1ms
29:	learn: 0.6309874	total: 17.3ms	remaining: 11.5ms
30:	learn: 0.6300355	total: 17.8ms	remaining: 10.9ms
31:	learn: 0.6270555	total: 18.4ms	remaining: 10.4ms
32:	learn: 0.6240708	total: 19ms	remaining: 9.81ms
33:	learn: 0.6213177	total: 19.6ms	remaining: 9.24ms
34:	learn: 0.6196925	total: 20.3ms	remaining: 8.68ms
35:	learn: 0.6189722	total: 20.8ms	remaining: 8.1ms
36:	learn: 0.6164527	total: 21.4ms	remaining: 7.53ms
37:	learn: 0.6156582	total: 21.8ms	remaining: 6.88ms
38:	learn: 0.6142244	total: 22.4ms	remaining: 6.3ms
39:	learn: 0.6109753	total: 23ms	remaining: 5.74ms
40:	learn: 0.6091833	total: 23.6ms	remaining: 5.18ms
41:	learn: 0.6078375	total: 24.2ms	remaining: 4.61ms
42:	learn: 0.6065768	total: 24.8ms	remaining: 4.04ms
43:	learn: 0.6049706	total: 25.4ms	remaining: 3.46ms
44:	learn: 0.6034452	total: 26.1ms	remaining: 2.9ms
45:	learn: 0.6012740	total: 26.7ms	remaining: 2.32ms
46:	learn: 0.6002770	total: 27.3ms	remaining: 1.74ms
47:	learn: 0.5979820	total: 27.9ms	remaining: 1.16ms
48:	learn: 0.5946357	total: 28.4ms	remaining: 580us
49:	learn: 0.5929343	total: 29ms	remaining: 0us
2.191628311559251
R2 score Training : 0.6514128917234001
R2 score Testing : 0.213567907630007
RMSE (Target): 0.7336717049946524
Shape of data : (2660, 125)
Shape of data after excluding missing response: (702, 125)
Shape of full data after selecting date range dates > 21 days (475, 116)
==== sample count in preprocessed data =======
 number of dpp4 :  232
 number of sglt2 :  242
==== sample count in training data =======
 number of dpp4 :  168
 number of sglt2 :  187
==== sample count in testing data =======
 number of dpp4 :  64
 number of sglt2 :  55
['drug_class', 'MD_RCT_mmol_mol', 'hba1c_bl_18m', 'ldl', 'hdl', 'gluk', 'met_oad0']
Shape of training data before removing outliers: (355, 7)
Shape of test data before removing outliers: (119, 7)
Training set outliers: []
Testing set outliers: [7132]
Shape of training data after removing outliers: (355, 7)
Shape of test data after removing outliers: (118, 7)
Cross validation variance 0.040147794897618515
Cross validation mean score 0.48476329884661806
1.4036448
R2 score Training : 0.7319264786946053
R2 score Testing : 0.6847735692172424
RMSE (Target): 0.197445688665108
Shape of data : (2660, 125)
Shape of data after excluding missing response: (2331, 125)
Shape of full data after selecting date range dates > 21 days (1752, 116)
==== sample count in preprocessed data =======
 number of dpp4 :  679
 number of sglt2 :  1073
==== sample count in training data =======
 number of dpp4 :  516
 number of sglt2 :  798
==== sample count in testing data =======
 number of dpp4 :  163
 number of sglt2 :  275
['hba1c_bl_6m', 'insulin', 'hba1c_bl_18m', 'sum_diab_drugs', 'MD_RCT_mmol_mol', 'drug_class', 'dpp4', 't2d_dur_y', 'gluk', 'concordant_dis', 'met_oad0', 'trigly', 'hyperten', 'ika']
Shape of training data before removing outliers: (1314, 14)
Shape of test data before removing outliers: (438, 14)
Training set outliers: [340, 3662, 3693, 6014, 11741]
Testing set outliers: [11564]
Shape of training data after removing outliers: (1309, 14)
Shape of test data after removing outliers: (437, 14)

/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/anushaihalapathirana/anaconda3/envs/EUF/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Cross validation variance 0.0034985521156825497
Cross validation mean score 0.41095921946435865
50.16428910131443
R2 score Training : 0.4533285725815641
R2 score Testing : 0.4009036844768954
RMSE (Target): 9.13239691384006
Shape of data : (2660, 125)
Shape of data after excluding missing response: (1719, 125)
Shape of full data after selecting date range dates > 21 days (1202, 116)
==== sample count in preprocessed data =======
 number of dpp4 :  416
 number of sglt2 :  772
==== sample count in training data =======
 number of dpp4 :  304
 number of sglt2 :  587
==== sample count in testing data =======
 number of dpp4 :  112
 number of sglt2 :  185
['sp', 'ika', 't2d_dur_y', 'pkrea_luo', 'bmi', 'dpp4', 'hdl', 'trigly', 'obese']
Shape of training data before removing outliers: (891, 9)
Shape of test data before removing outliers: (297, 9)
Training set outliers: [6014, 682, 9516, 9844, 9933]
Testing set outliers: [1075]
Shape of training data after removing outliers: (886, 9)
Shape of test data after removing outliers: (296, 9)
Cross validation variance 0.0014695235700876717
Cross validation mean score 0.8809306812614756
32.060623
R2 score Training : 0.9121742902905198
R2 score Testing : 0.8640322175887674
RMSE (Target): 2.020606765575703

In [3]:
df_X_train = pd.read_csv('data/X_train.csv', sep = ',',decimal = '.', encoding = 'utf-8', engine ='python',index_col=0)
df_X_test = pd.read_csv('data/X_test.csv', sep = ',',decimal = '.', encoding = 'utf-8', engine ='python',index_col=0)


# List of file paths to read
file_paths = ['data/mvldl.csv', 'data/mvhba1c.csv', 'data/mvhdl.csv', 'data/mvbmi.csv']

# Initialize empty DataFrames
df_ldl = pd.DataFrame()
df_hba1c = pd.DataFrame()
df_hdl = pd.DataFrame()
df_bmi = pd.DataFrame()

# Iterate over the list and read each file if it exists
for file_name in file_paths:
    if os.path.exists(file_name):
        if 'ldl' in file_name:
            df_ldl = pd.read_csv(file_name, sep=',', decimal='.', encoding='utf-8', engine='python', index_col=0)
        elif 'hba1c' in file_name:
            df_hba1c = pd.read_csv(file_name, sep=',', decimal='.', encoding='utf-8', engine='python', index_col=0)
        elif 'hdl' in file_name:
            df_hdl = pd.read_csv(file_name, sep=',', decimal='.', encoding='utf-8', engine='python', index_col=0)
        elif 'bmi' in file_name:
            df_bmi = pd.read_csv(file_name, sep=',', decimal='.', encoding='utf-8', engine='python', index_col=0)
    else:
        print(f"File {file_name} does not exist.")

In [4]:
# Delete all the csv files
file_paths_to_delete = ['data/mvldl.csv', 'data/mvhba1c.csv', 'data/mvhdl.csv', 'data/mvbmi.csv', 'data/X_train.csv', 'data/X_test.csv']

for file_path in file_paths_to_delete:
    if os.path.exists(file_path):
        os.remove(file_path)
        print(f"File {file_path} deleted successfully.")
    else:
        print(f"File {file_path} does not exist.")

File data/mvldl.csv deleted successfully.
File data/mvhba1c.csv deleted successfully.
File data/mvhdl.csv deleted successfully.
File data/mvbmi.csv deleted successfully.
File data/X_train.csv deleted successfully.
File data/X_test.csv deleted successfully.

In [5]:
print("original shape df_X_train: ", np.shape(df_X_train))
print("original shape df_X_test: ", np.shape(df_X_test))

df_X_train = get_dfs(df_X_train)
df_X_test = get_dfs(df_X_test)

original shape df_X_train:  (2660, 125)
original shape df_X_test:  (887, 125)
Shape of data after removing other drug types: (2660, 125)
Shape of data after removing other drug types: (887, 125)

In [6]:
print(df_bmi.shape)
print(df_hba1c.shape)
print(df_hdl.shape)
print(df_ldl.shape)
print(df_X_train.shape)
print(df_X_test.shape)

(2660, 125)
(2660, 125)
(2660, 125)
(2660, 125)
(2660, 125)
(887, 125)

In [7]:
df_bmi

,id,init_year,drug_class,MD_RCT_mmol_mol,hba1c_bl_18m,hba1c_bl_6m,sp,ika,t2d_dur_y,P_Krea,...,date_bmi_12m,date_hdl_12m,days_hba1c,days_bmi,days_hdl,days_ldl,hba1c_12m,ldl_12m,hdl_12m,bmi_12m
6448,84221,2019,4,-6.2301,60.0,58.0,1,56.0,13,62.0,...,2020-11-05,2020-04-07,313.0,357.0,229.0,313.0,59.0,1.7,1.47,35.154137
6963,91189,2013,3,-5.7929,51.0,53.0,2,64.0,3,70.0,...,2014-01-21,NaN,364.0,425.0,NaN,NaN,59.0,NaN,NaN,28.730000
13607,1043704,2019,3,-5.7929,46.0,59.0,2,60.0,6,94.0,...,2019-07-09,NaN,350.0,343.0,NaN,350.0,49.0,2.0,NaN,37.654320
1550,20774,2019,4,-6.2301,60.0,78.0,2,74.0,14,72.0,...,2020-05-04,NaN,105.0,313.0,NaN,NaN,62.0,NaN,NaN,27.910000
7758,101936,2019,4,-8.8533,50.0,55.0,2,56.0,9,72.0,...,2020-08-18,2019-10-31,264.0,301.0,2628.0,NaN,37.0,NaN,1.47,31.770000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,3668,2018,3,-5.7929,NaN,68.0,1,52.0,3,125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.758030
180,2496,2020,4,-5.5743,76.0,82.0,1,79.0,28,63.0,...,NaN,2021-01-29,331.0,NaN,331.0,331.0,97.0,2.4,0.92,28.822630
10528,136698,2013,3,-5.7929,71.0,61.0,2,65.0,4,98.0,...,NaN,2014-02-05,99.0,NaN,99.0,99.0,92.0,2.1,0.89,29.913218
4446,58508,2018,3,-5.7929,56.0,55.0,1,88.0,1,65.0,...,NaN,NaN,160.0,NaN,NaN,NaN,52.0,NaN,NaN,29.679741
13507,1001933,2014,3,-5.7929,59.0,NaN,2,51.0,3,57.0,...,NaN,NaN,NaN,NaN,NaN,471.0,59.0,3.3,NaN,31.029821

In [8]:
df_X_train

,id,init_year,drug_class,MD_RCT_mmol_mol,hba1c_bl_18m,hba1c_bl_6m,sp,ika,t2d_dur_y,P_Krea,...,date_bmi_12m,date_hdl_12m,days_hba1c,days_bmi,days_hdl,days_ldl,hba1c_12m,ldl_12m,hdl_12m,bmi_12m
8087,106358,2018,3,-5.7929,50.0,55.0,1,83.0,4,56.0,...,NaN,2019-10-23,380.0,NaN,380.0,380.0,50.0,2.2,1.06,NaN
4868,64542,2019,4,-6.2301,58.0,68.0,2,76.0,17,85.0,...,NaN,NaN,274.0,NaN,NaN,274.0,49.0,2.9,NaN,NaN
6448,84221,2019,4,-6.2301,60.0,58.0,1,56.0,13,62.0,...,2020-11-05,2020-04-07,313.0,357.0,229.0,313.0,59.0,1.7,1.47,35.154137
6963,91189,2013,3,-5.7929,51.0,53.0,2,64.0,3,70.0,...,2014-01-21,NaN,364.0,425.0,NaN,NaN,59.0,NaN,NaN,28.730000
13607,1043704,2019,3,-5.7929,46.0,59.0,2,60.0,6,94.0,...,2019-07-09,NaN,350.0,343.0,NaN,350.0,49.0,2.0,NaN,37.654320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7001,91628,2016,4,-5.5743,65.0,74.0,2,70.0,7,58.0,...,2017-02-07,2017-04-04,385.0,307.0,385.0,385.0,65.0,2.4,1.45,31.673470
4446,58508,2018,3,-5.7929,56.0,55.0,1,88.0,1,65.0,...,NaN,NaN,160.0,NaN,NaN,NaN,52.0,NaN,NaN,NaN
5306,69736,2020,4,-6.2301,54.0,54.0,2,59.0,6,65.0,...,2021-11-17,NaN,384.0,355.0,NaN,384.0,56.0,1.9,NaN,32.488628
13507,1001933,2014,3,-5.7929,59.0,NaN,2,51.0,3,57.0,...,NaN,NaN,NaN,NaN,NaN,471.0,59.0,3.3,NaN,NaN
13427,202173,2017,4,-8.8533,NaN,55.0,2,64.0,0,114.0,...,2017-06-15,NaN,345.0,94.0,NaN,345.0,65.0,2.6,NaN,32.787994

In [9]:
df_X_test

,id,init_year,drug_class,MD_RCT_mmol_mol,hba1c_bl_18m,hba1c_bl_6m,sp,ika,t2d_dur_y,P_Krea,...,date_bmi_12m,date_hdl_12m,days_hba1c,days_bmi,days_hdl,days_ldl,hba1c_12m,ldl_12m,hdl_12m,bmi_12m
5404,71071,2019,3,-5.7929,59.0,66.0,2,70.0,2,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3292,42963,2017,4,-6.2301,55.0,NaN,2,75.0,6,71.0,...,2018-09-20,2018-01-24,NaN,346.0,379.0,379.0,54.0,2.0,1.09,28.055706
7412,97677,2019,3,-5.7929,63.0,63.0,2,75.0,17,101.0,...,2020-06-01,NaN,96.0,273.0,NaN,NaN,74.0,NaN,NaN,29.580000
11049,143124,2014,3,-5.7929,62.0,63.0,1,62.0,9,61.0,...,2015-01-15,2014-11-13,307.0,365.0,307.0,307.0,58.0,2.3,1.39,30.430000
2181,28942,2020,3,-5.7929,56.0,72.0,2,73.0,16,102.0,...,2021-08-27,NaN,387.0,361.0,NaN,NaN,56.0,NaN,NaN,30.480000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6189,81022,2021,4,-6.2301,57.0,64.0,1,68.0,10,63.0,...,2021-12-10,NaN,293.0,311.0,NaN,NaN,56.0,NaN,NaN,26.740000
8939,116554,2017,4,-5.5743,47.0,56.0,2,48.0,4,70.0,...,2017-12-12,NaN,267.0,280.0,NaN,NaN,66.0,NaN,NaN,31.157049
5765,75309,2021,4,-8.8533,NaN,59.0,2,76.0,16,65.0,...,2022-05-30,NaN,232.0,278.0,NaN,NaN,77.0,NaN,NaN,36.160000
7829,102849,2014,3,-6.5580,50.0,55.0,2,63.0,9,76.0,...,NaN,2014-06-23,280.0,NaN,311.0,472.0,52.0,3.0,1.65,NaN
2481,32854,2016,3,-5.7929,49.0,NaN,1,55.0,7,48.0,...,NaN,NaN,NaN,NaN,NaN,628.0,NaN,3.7,NaN,NaN

In [10]:

result_df =  df_X_train.copy()


updates = {
    'ldl_12m': df_ldl,
    'bmi_12m': df_bmi,
    'hba1c_12m': df_hba1c,
    'hdl_12m': df_hdl
}

for col, df_update in updates.items():
    if not df_update.empty:
        result_df = result_df.drop([f'{col}'], axis=1)
        result_df[col] = df_update[col]

# Display the result DataFrame
result_df

,id,init_year,drug_class,MD_RCT_mmol_mol,hba1c_bl_18m,hba1c_bl_6m,sp,ika,t2d_dur_y,P_Krea,...,date_bmi_12m,date_hdl_12m,days_hba1c,days_bmi,days_hdl,days_ldl,ldl_12m,bmi_12m,hba1c_12m,hdl_12m
8087,106358,2018,3,-5.7929,50.0,55.0,1,83.0,4,56.0,...,NaN,2019-10-23,380.0,NaN,380.0,380.0,2.200000,29.747171,50.0,1.060000
4868,64542,2019,4,-6.2301,58.0,68.0,2,76.0,17,85.0,...,NaN,NaN,274.0,NaN,NaN,274.0,2.900000,26.634987,49.0,1.419836
6448,84221,2019,4,-6.2301,60.0,58.0,1,56.0,13,62.0,...,2020-11-05,2020-04-07,313.0,357.0,229.0,313.0,1.700000,35.154137,59.0,1.470000
6963,91189,2013,3,-5.7929,51.0,53.0,2,64.0,3,70.0,...,2014-01-21,NaN,364.0,425.0,NaN,NaN,2.640102,28.730000,59.0,1.022971
13607,1043704,2019,3,-5.7929,46.0,59.0,2,60.0,6,94.0,...,2019-07-09,NaN,350.0,343.0,NaN,350.0,2.000000,37.654320,49.0,1.028263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7001,91628,2016,4,-5.5743,65.0,74.0,2,70.0,7,58.0,...,2017-02-07,2017-04-04,385.0,307.0,385.0,385.0,2.400000,31.673470,65.0,1.450000
4446,58508,2018,3,-5.7929,56.0,55.0,1,88.0,1,65.0,...,NaN,NaN,160.0,NaN,NaN,NaN,2.473878,29.679741,52.0,1.107698
5306,69736,2020,4,-6.2301,54.0,54.0,2,59.0,6,65.0,...,2021-11-17,NaN,384.0,355.0,NaN,384.0,1.900000,32.488628,56.0,1.314846
13507,1001933,2014,3,-5.7929,59.0,NaN,2,51.0,3,57.0,...,NaN,NaN,NaN,NaN,NaN,471.0,3.300000,31.029821,59.0,1.049561
13427,202173,2017,4,-8.8533,NaN,55.0,2,64.0,0,114.0,...,2017-06-15,NaN,345.0,94.0,NaN,345.0,2.600000,32.787994,65.0,1.126951

In [11]:
result_df

,id,init_year,drug_class,MD_RCT_mmol_mol,hba1c_bl_18m,hba1c_bl_6m,sp,ika,t2d_dur_y,P_Krea,...,date_bmi_12m,date_hdl_12m,days_hba1c,days_bmi,days_hdl,days_ldl,ldl_12m,bmi_12m,hba1c_12m,hdl_12m
8087,106358,2018,3,-5.7929,50.0,55.0,1,83.0,4,56.0,...,NaN,2019-10-23,380.0,NaN,380.0,380.0,2.200000,29.747171,50.0,1.060000
4868,64542,2019,4,-6.2301,58.0,68.0,2,76.0,17,85.0,...,NaN,NaN,274.0,NaN,NaN,274.0,2.900000,26.634987,49.0,1.419836
6448,84221,2019,4,-6.2301,60.0,58.0,1,56.0,13,62.0,...,2020-11-05,2020-04-07,313.0,357.0,229.0,313.0,1.700000,35.154137,59.0,1.470000
6963,91189,2013,3,-5.7929,51.0,53.0,2,64.0,3,70.0,...,2014-01-21,NaN,364.0,425.0,NaN,NaN,2.640102,28.730000,59.0,1.022971
13607,1043704,2019,3,-5.7929,46.0,59.0,2,60.0,6,94.0,...,2019-07-09,NaN,350.0,343.0,NaN,350.0,2.000000,37.654320,49.0,1.028263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7001,91628,2016,4,-5.5743,65.0,74.0,2,70.0,7,58.0,...,2017-02-07,2017-04-04,385.0,307.0,385.0,385.0,2.400000,31.673470,65.0,1.450000
4446,58508,2018,3,-5.7929,56.0,55.0,1,88.0,1,65.0,...,NaN,NaN,160.0,NaN,NaN,NaN,2.473878,29.679741,52.0,1.107698
5306,69736,2020,4,-6.2301,54.0,54.0,2,59.0,6,65.0,...,2021-11-17,NaN,384.0,355.0,NaN,384.0,1.900000,32.488628,56.0,1.314846
13507,1001933,2014,3,-5.7929,59.0,NaN,2,51.0,3,57.0,...,NaN,NaN,NaN,NaN,NaN,471.0,3.300000,31.029821,59.0,1.049561
13427,202173,2017,4,-8.8533,NaN,55.0,2,64.0,0,114.0,...,2017-06-15,NaN,345.0,94.0,NaN,345.0,2.600000,32.787994,65.0,1.126951

In [12]:
df_X_train[['id','hba1c_12m', 'ldl_12m','hdl_12m','bmi_12m']]

            id  hba1c_12m  ldl_12m  hdl_12m    bmi_12m
8087    106358       50.0      2.2     1.06        NaN
4868     64542       49.0      2.9      NaN        NaN
6448     84221       59.0      1.7     1.47  35.154137
6963     91189       59.0      NaN      NaN  28.730000
13607  1043704       49.0      2.0      NaN  37.654320
...        ...        ...      ...      ...        ...
7001     91628       65.0      2.4     1.45  31.673470
4446     58508       52.0      NaN      NaN        NaN
5306     69736       56.0      1.9      NaN  32.488628
13507  1001933       59.0      3.3      NaN        NaN
13427   202173       65.0      2.6      NaN  32.787994

[2660 rows x 5 columns]

In [13]:
result_df[['id','hba1c_12m', 'ldl_12m','hdl_12m','bmi_12m']]

            id  hba1c_12m   ldl_12m   hdl_12m    bmi_12m
8087    106358       50.0  2.200000  1.060000  29.747171
4868     64542       49.0  2.900000  1.419836  26.634987
6448     84221       59.0  1.700000  1.470000  35.154137
6963     91189       59.0  2.640102  1.022971  28.730000
13607  1043704       49.0  2.000000  1.028263  37.654320
...        ...        ...       ...       ...        ...
7001     91628       65.0  2.400000  1.450000  31.673470
4446     58508       52.0  2.473878  1.107698  29.679741
5306     69736       56.0  1.900000  1.314846  32.488628
13507  1001933       59.0  3.300000  1.049561  31.029821
13427   202173       65.0  2.600000  1.126951  32.787994

[2660 rows x 5 columns]

In [14]:
result_df[['id','hba1c_12m', 'ldl_12m','hdl_12m','bmi_12m']].isna().sum()

id           0
hba1c_12m    0
ldl_12m      0
hdl_12m      0
bmi_12m      0
dtype: int64

In [15]:
df_X_test[['id','hba1c_12m', 'ldl_12m','hdl_12m','bmi_12m']].isna().sum()

id             0
hba1c_12m    123
ldl_12m      397
hdl_12m      676
bmi_12m      286
dtype: int64

In [16]:
result_df.to_csv('../resources/data/train_data.csv',index=True)
df_X_test.to_csv('../resources/data/test_data.csv',index=True)